@tailwind base;

@tailwind components;

html{
    font-size: 10px;
}

.item_menu:hover {
    @apply bg-green-200 text-gray-800;
}

@tailwind utilities;

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}